#eea-alchemy .alchemy-search {
  width: 95%;
}

#eea-alchemy .alchemy-box {
  float: left;
  width: 27%;
  height: 21em;
  margin: 5px;
  border-color: #cccccc;
  border-width: 1px;
  border-style: dotted;
  display: none;
  box-shadow: 3px 3px 3px #CCC;
  border-radius: 10px;
  padding: 0 1em;
}

#eea-alchemy legend {
  text-align: center;
  background: white;
  padding: 1em 4em;
  border-radius: 20px;
  font-size: 110%;
  font-weight: bold;
  color: #999;
  border: 1px solid #eee;
}

#eea-alchemy ul {
  list-style:none;
  margin:0.2em;
}

#eea-alchemy .alchemy-box-content {
  width: 100%;
  height: 75%;
  overflow-y: auto;
  overflow-x: hiddden;
}

#eea-alchemy .alchemy-button {
  width: 99%;
  padding: 0.5em;
  text-align: right;
  display: none;
}

#eea-alchemy .alchemy-msg {
  color: #95b229;
}
