#eea-alchemy .alchemy-search {
  width: 95%;
  margin: auto;
}

#eea-alchemy .alchemy-box {
  height: 24em;
  border-color: #cccccc;
  border-width: 1px;
  border-style: dotted;
  display: none;
  -webkit-box-shadow: 3px 3px 3px #CCC;
  border-radius: 10px;
  padding: 1em;
}

#eea-alchemy legend {
  text-align: center;
  background: white;
  padding: 1em 4em;
  border-radius: 20px;
  font-size: 110%;
  font-weight: bold;
  color: #999;
  border: 1px solid #eee;
}

#eea-alchemy ul {
  list-style:none;
  margin:0.2em;
}

#eea-alchemy .row-fluid {
  width: 102%;
}

#eea-alchemy .alchemy-box-content {
  width: 100%;
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}

#eea-alchemy .alchemy-box-content li {
  display: table-row;
}

#eea-alchemy .alchemy-box-content li input {
  display: table-cell;
}

#eea-alchemy .alchemy-box-content li label {
  display: table-cell;
  padding-left: 0.5em;
  line-height: 1.65;
}

#eea-alchemy .alchemy-button {
  display: none;
  text-align: right;
  border-radius: 10px;
}

#eea-alchemy .alchemy-msg {
  color: #95b229;
}

#eea-alchemy .alchemy-box select {
  width: 100%;
  background: whiteSmoke;
  font-size: 1rem;
}

#eea-alchemy .alchemy-console-box {
  height: 50em;
}

#eea-alchemy .alchemy-console {
  background: #000;
  color: #fff;
  font-family: monospace;
  line-height: 1;
  font-size: 12px;
  border: 1px solid #fff;
  height: 85%;
}

#eea-alchemy .alchemy-console p {
  padding: 0.3em;
}

#eea-alchemy .alchemy-console .INFO {
  color: white;
}

#eea-alchemy .alchemy-console .ERROR {
  color: red;
}

#eea-alchemy .alchemy-console .WARNING {
  color: orange;
}

#eea-alchemy .alchemy-console-buttons {
  text-align: right;
}

#eea-alchemy .auto-scrolling {
  float: left;
}

#eea-alchemy .alchemy-filter input {
  width: 100%;
  background: none;
  border: 1px dotted #ccc;
  font-size: 1.3em;
  font-style: italic;
}
