#eea-alchemy .alchemy-search {
  width: 95%;
}

#eea-alchemy .alchemy-box {
  float: left;
  width: 33%;
  height: 40em;
  margin: 0px;
  padding: 0px;
  border-color: #cccccc;
  border-width: 1px;
  border-style: dotted;
}

#eea-alchemy legend {
  margin-left: 1.5em;
  padding: 0.2em;
}

#eea-alchemy ul {
  list-style:none;
  margin:0.2em;
}

#eea-alchemy .alchemy-box-content {
  width: 100%;
  height: 95%;
  overflow-y: auto;
  overflow-x: hiddden;
}

#eea-alchemy .alchemy-button {
  width: 99%;
  padding: 0.5em;
  text-align: right;
}

#eea-alchemy .alchemy-msg {
  color: #95b229;
}
