.eea-alchemy-tag {
}

#content .eea-alchemy-tag a,
#content .eea-alchemy-tag a:visited,
#content p .eea-alchemy-tag a,
.eea-alchemy-tag a, .eea-alchemy-tag a:visited {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #346F83;
}

.template-alchemy-controlpanel .textType,
.template-alchemy-controlpanel .field input[type="text"][size] {
  width: 40%;
}

.template-alchemy-controlpanel table.sequencewidget{
  width: 100%;
}

.template-alchemy-controlpanel table.sequencewidget td:first-child {
  width: 2em;
}
